# * this method should use python -m to make sure the hydra config is loaded correctly
# hydra config
hydra:
  run:
    dir: ${train.log_path}
  sweep:
    dir: ${train.log_path}
    subdir: ${train.experiment}/${train.clip_duration}_${train.uniform_temporal_subsample_num}/${now:%Y-%m-%d}/${now:%H-%M-%S}
  job:
    chdir: false 

loss:
  clip_weight: 1.0
  clip_temperature: 0.07

data:
  doctor_results_path: ""
  skeleton_path: ""

model:
  clip_backbone: "3dcnn"
  clip_feature_dim: 512
  clip_embed_dim: 256
  clip_classifier_source: "video"
  attn_in_channels: 1

train:
  backbone: "3dcnn"
  log_path: logs/
